<div class="container my-5 mx-5 text-center">
  <h1> Account Login</h1>
  <div class="form mt-5">
    <form action="/" method="POST">
      <div class="mt-5">
        <input style="height: 3rem; width: 20rem; padding: 1rem;" type="email" name="email" id="email" placeholder="Email">
      </div>
      <div class="mt-5">
        <input style="height: 3rem; width: 20rem; padding: 1rem;" type="password" name="password" id="password" placeholder="password">
      </div>
      <div class="mt-5">
        <button type="submit"> Sign in </button>
      </div>
    </form>
  </div>
</div>